<div class="container">
 

 <h1 class="text-center">Watch Your Movies!</h1>

<div class="row">
  <div class="col-lg-4">
    <ol>
      {{#each movies}}
      {{#unless this.watched}}
        <li>
          {{this.movie_name}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="watched" value="true">
              <button type="submit" class="btn btn-success">Watch it!</button>
            </form>
          </li>
        {{/unless}}
      {{/each}}
    </ol>
</div>

<div class="col-lg-4">
<ol>
  {{#each movies}}
    {{#if this.watched}}
      <li>
        {{this.movie_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="watched" value="false">
        </form>
      </li>
    {{/if}}
  {{/each}}
</ol>
</div>


 <div class="text-center col-lg-4">
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <textarea class="form-control" type="text" id="bu" name="movie_name"></textarea>
        </div>
          <button type="submit" class="btn btn-primary">Submit!</button>
          <p>Which Movie Will You Watch!</p>
      </form>
    </div>
    </div>
  </div>
</div>